<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words %></h2>

<h2>Vowels: <%= @analyzed_text.count_of_vowels %></h2>

<h2>Consonants: <%= @analyzed_text.count_of_consonants %></h2>

<% @analyzed_text.most_used_letter.each do | letter, count | %>
    <% most_let = letter %>
    <% high_count = count %>
    
    <h2>Most Common Letter: <%= most_let.capitalize %>, used <%= high_count.to_s %> times</h2>
<% end %>